# RabbitMQ — sesuaikan dengan konfigurasi RabbitMQ shared instance
RABBIT_USER=appuser
RABBIT_PASS=appuser123
RABBIT_HOST=rabbitmq        # nama service RabbitMQ di docker-compose utama

# PostgreSQL — database khusus service ini
DB_USER=penawaran
DB_PASS=penawarankelas123
DB_NAME=penawaran_kelas

# JWT — HARUS sama persis dengan yang dipakai master service untuk sign token
JWT_SECRET_KEY=abl_soa_finalProject
